@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//Primary Color
$primary-color: hsl(4, 100%, 67%);

//Neutral Colors
$Blue-800: hsl(234, 29%, 20%);
$Blue-700: hsl(235, 18%, 26%);
$Grey: hsl(0, 0%,58%);
$White: hsl(0, 0%, 100%);


$font-main: 'Roboto', san-serif;
$font-size-base: 16px;
$weight-bold: 700;
$weight-regular: 400;