@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 13px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

h1 {
  font-size: clamp(1rem, 5vw, 2rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.2rem);
}

p {
  font-size: clamp(1rem, 5vw, 1.1rem);
  color: #555;
}

body {
  background-color: hsl(210, 46%, 95%);
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#card {
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 15px;
  width: 65rem;
  height: 23rem;
}

.img-drawer {
  flex-grow: 1;
  border-radius: 15px 0 0 15px;
}

#card-content {
  flex-grow: 2;
  padding: 2em;
}

#avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 3rem;
}

.img-avatar {
  width: 13%;
  height: 13%;
  border-radius: 90%;
  margin-left: -5rem;
}

#card-content p {
  padding: 1.5em 0;
}

.share {
  position: relative;
  display: inline-block;
  padding-left: 15rem;
  justify-content: center;
  align-items: center;
}

#btn-share {
  padding: 1rem;
  border-radius: 100%;
  border-style: none;
  cursor: pointer;
}

.btn-bg {
  background-color: hsl(217, 19%, 35%);
}

.social-icons {
  display: flex;
  gap: 10px;
  background: hsl(217, 19%, 35%);
  padding: 10px 25px 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -90px; /* adjust based on button position */
  right: -90px;
  transition: opacity 0.3s ease;
}

.social-icons::after {
  content: "";
  position: absolute;
  top: 100%; /* Position at bottom of bubble */
  left: 20px; /* Position from left edge */
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid hsl(217, 19%, 35%); /* Same color as bubble */
}

.bubble::after {
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.social-icons.show {
  display: block;
}

.social-icons span {
  color: hsl(212, 23%, 69%);
}

.social-icons img {
  margin-left: 20px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

#name {
  padding-top: -2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -15rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  color: hsl(217, 19%, 35%);
}

p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.date {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

@media (max-width: 835px) {
  #card {
    flex-direction: column;
    width: 30rem;
    height: 44rem;
  }
  .img-drawer {
    object-fit: cover;
    width: 100%;
    max-height: 230px;
    border-radius: 15px 15px 0 0;
  }
  article {
    flex-direction: column;
    margin-bottom: 12rem;
  }
  .share {
    padding-left: 7rem;
    padding-top: 1rem;
  }
  .social-icons {
    display: flex;
    gap: 10px;
    background: hsl(217, 19%, 35%);
    padding: 15px 25px 25px 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -2px; /* adjust based on button position */
    right: -60px;
    width: 390px;
    transition: opacity 0.3s ease;
    z-index: 0;
  }
  #btn-share {
    position: relative;
    z-index: 10;
    background-color: hsl(210, 46%, 95%);
  }
  .social-icons::after {
    border: 0;
  }
  .btn-bg {
    background-color: hsl(210, 46%, 95%);
  }
  .hidden {
    display: none;
  }
  .social-icons.show {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
