@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

//Primary Color
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Grey-200: hsl(0, 0%, 45%);


$font-alata: 'Alata', san-serif;
$font-josefin: 'Josefin Sans', san-serif;
$font-size-base: 15px;
$weight-400: 400;
$weight-300: 300;